<main id="main" class="mx-4 md:mx-32">
  <article>
    <header class="my-4 md:my-16 md:mt-32">
      <h2 class="text-xl md:text-4xl">Welcome</h2>
    </header>
    <p class="mb-8 md:mb-16">
      Membrain is a secure note application, that allows you to store
      markdown documents in which the contents of each document is
      encrypted and only visible by you.
    </p>
    <h3 class="text-lg md:text-2xl">Interested?</h3>
    <div class="flex mt-8 md:mt-16 space-x-8 md:space-x-16 items-center">
      <a href="<%= it.login %>" class="
          inline-flex 
          items-center 
          px-6 
          py-3 
          border 
          border-transparent 
          text-base 
          font-medium 
          rounded-md 
          shadow-sm 
          text-white 
          bg-gray-600 
          hover:bg-gray-700 
          focus:outline-none 
          focus:ring-2 
          focus:ring-offset-2 
          focus:ring-gray-500
      ">
        Sign up using Github
      </a>
      <a class="text-lg underline" href="/about">Learn More</a>
    </div>
    <p class="my-4 md:my-8">Its free. Create an account and check it out.</p>
  </article>
</main>